@font-face {
    font-family: font1;
    src: url(../fonts/Acme/Acme-Regular.ttf);
    font-family: font2;
    src: url(../fonts/Lobster/Lobster-Regular.ttf);
    font-family: font3;
    src: url(../fonts/Patua_One/PatuaOne-Regular.ttf);
    font-family: font4;
    src: url(../fonts/Sniglet/Sniglet-Regular.ttf);
    font-family: font5;
    src: url(../Rubik/Rubik-VariableFont_wght.ttf)
    
}

*{
    box-sizing: border-box;
}

:root{
    --light-black:#2e2c2caf
    --bggradient:linear-gradient(to bottom , #dd2476 , #ff512f );
    --light-gray:rgba( 255,255,255,0.5 )
}

header a{
    font-family: font2;
    color: whitesmoke   !important;   
    text-decoration: none; 
  
}

header{
    background:linear-gradient(to bottom , #dd2476 , #ff512f ) ;
}

.main-nav{
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
}

header .nav-item{
    padding: 0.9em;
}
header .nav-item:last-child{
    padding-right: 10.5em;
}

.navbar-brand{
    padding-left:  8rem ;
}

.row .card img
{
    height: 225px;
}

.header-container h2
{
    font-weight: 600;
}


/* section two start */


.grey-bg {
    background-color: #f7f7f7;
}
.pricing-table
{
    position: relative;
    border: 1px solid #f3f3f3;
    max-width: 400px;
    padding: 45px 35px;
    margin: 50px auto 25px;
    width: 100%;
    background-color: #fff;
    box-shadow: 0 0 40px rgb(0 0 0 / 5%);
    transition: all .3s ease;
}

.pricing-table .price
{
    padding: 15px 0;
    border-bottom: 1px solid #eee;

}
.pricing-table .features
{
    margin-top: 15px;
}
.nav {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}
.pricing-table .pricing-footer {
    padding: 20px 0;
}
.pricing-table .features>li {
    padding: 8px 0;
}
.btn.btn-sm {
    padding: 0 16px;
    font-size: 12px;
    height: 40px;
    line-height: 40px;
}
.btn-color {
    color: #fff;
    background-color: #00c3da;
}
.btn-shadow {
    box-shadow: 0 4px 16px rgb(0 0 0 / 7%);
}



.pricing-table.featured {
    background-color: #fff;
    z-index: 20;
}
.pricing-table .featured-label {
    position: absolute;
    top: 40px;
    right: 35px;
    font-family: 'Poppins', sans-serif;
    font-size: 9px;
    font-weight: 500;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    background-color: #00c3da;
    color: #fff;
    padding: 5px 10px;
    border-radius: 15px;
}
.pricing-table.featured .price h2 {
    color: #00c3da;
}
.pricing-table.featured {
    transform: scale(1.08);
}
/* section two end  */
